{{ define "admin/common/footer" }}


    <footer class="footer">
        <div class="copyright">
            &copy;

            <span itemprop="copyrightYear">2011 - 2021</span>

            <span class="with-love">
    	 <i class="iconfont icon-love"></i>
         </span>

            <span class="author" itemprop="copyrightHolder"><a href="https://{{ .domainName }}/">艾克</a> | </span>



            <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="external nofollow">浙ICP备20012357号 </a> |

            <span><a href="https://{{ .domainName }}/friends">友情链接</a></span>
        </div>
    </footer>


    <script src="/static/js/vendor_main.min.js" async=""></script>
    <script src="/static/libs/layui_v2_6_8/layui.js" async=""></script>

</div>
</body>
</html>

{{ end }}