{{ define "admin/tags/add" }}

{{template "admin/common/header" . }}

<style>
    .add_tags{
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
    .form_table td{
        border-style: unset;
    }
    .submit_box{
        text-align: center;
    }
</style>

<main class="main">
    <div class="container">

        <div class="post-warp archive">
            <form action="doadd" method="post">
                <h1 class="add_tags">添加标签</h1>
                <table class="layui-table form_table">
                    <tr>
                        <td>标签名字</td>
                        <td><input type="text" name="name" class="name layui-input" ></td>
                    </tr>
                    <tr class="submit_box">
                        <td colspan="2"><button class="layui-btn layui-btn-normal">提交</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</main>


{{template "common/footer"}}

{{ end }}
