{{ define "course/index" }}

{{template "common/header" . }}

<style>
    #all-course li {
    float: left;
    margin-right: 20px;
    margin-bottom: 12px;
    height: 34px;
    line-height: 34px;
    padding: 0px 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
a {
    text-decoration: none;
}
#all-course a {
    color: #007dbb;
}
</style>

<main class="main">
    <div class="container">

        <div class="post-warp archive" id="all-course">
            <h1>教程列表</h1>
            {{ range .courseList }}
            <li>
                <a href="/chapter/list/{{ .ID }}" class="">
                    {{ .CourseName }}
                </a>
            </li>
            {{ end }}


            <!-- <div id="kkpager"></div> -->

        </div>

    </div>
</main>

<link rel="stylesheet" type="text/css" href="/static/libs/jquery_page/style/kkpager_orange.css">
<script src="/static/libs/jquery_page/js/kkpager.js"></script>
<script src="/static/js/article.js"></script>
<script type="text/javascript">


    //init
    $(function(){
        generPageHtml({{ .totalPage }}, {{ .totalCount }});


    });

</script>

{{template "common/footer"}}

{{ end }}
